<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /AI_BBS/
    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /AI_BBS/index.html [L]
</IfModule>